
.button
	font-size: 7px
	line-height: 8px
	text-transform: uppercase
	padding: 5px 24.5px
	margin-left: auto
	color: #ffffff
	border-radius: 1px
	background-color: #00aa87
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.12)
	border: none
	outline: none
	cursor: pointer
	letter-spacing: 0.3px
	transition: 0.2s
	&:hover, &:focus
		background-color: #00816c
	&:active
		background-color: #00826c


