@import "./vars"

*, *::before, *::after
	box-sizing: border-box

html, body
	width: 100%
	height: 100%

body
	margin: 0
	font-family: $base-ff
	font-size: 16px
	line-height: 1
	font-weight: normal
	background: $background
	padding: 0
	display: flex
	justify-content: center

h1,h2,h3,h4,h5
	margin: 0

ul
	list-style: none
	padding: 0

#root
	width: 100%
	max-width: 512px
	height: 100%
	padding: 24px
	background: $background

.app_caption
	margin-bottom: 40px
	font-size: 41px
	line-height: 1
	font-family: $secondary-ff
	letter-spacing: -0.05px
	color: #1a1818

.text
	font-size: 8px
	line-height: 1.5
	color: $text-dark

.sub-title
	font-size: 6.5px
	line-height: 8px
	color: $sub-title
	&.sub-title--push .material-icons
		margin-left: 8px
		margin-right: 4px

.button-transparent
	font-size: 7px
	font-weight: bold
	line-height: 8px
	letter-spacing: 0.3px
	color: $text
	text-transform: uppercase
	padding: 2px 8px
	background: transparent
	cursor: pointer
	transition: 0.2s
	border: none
	outline: none
	&:hover, &:focus
		color: $text-hover
	&:active
		color: $text-dark
	&.button-transparent--primary
		color: $primary
		&:hover, &:focus
			color: $primary--hover
		&:active
			color: $primary--active

.material-icons
	vertical-align: middle
	&.md-10
		font-size: 10px
		height: 12px

.hidden
	display: none
