$primary: #00aa87
$primary--hover: #00816c
$primary--active: #00826c
//$secondary: #8d949c
$accent: #c14275

$background: #f2f2f2
$background-dark: rgba(0, 0, 0, 0.57)

$checkbox_border: #8c8b8c
$checkbox_border--hover: #5f5e5f

$danger: #f05c5c
$warning: #fb9818
$success: #78a659
$info: #9dd6fd

$text-dark: rgba(0, 0, 0, 0.87)
$text: rgba(0, 0, 0, 0.37)
$box-shadow: rgba(0, 0, 0, 0.24)
$text-light: rgba(0, 0, 0, 0.12)

$white: white
$black: black

$base-ff: "Roboto", sans-serif
$secondary-ff: "AkzidenzGroteskPro", sans-serif
$base-transition: all 0.4s ease
